<div class="calendar">
  <div class="calendar-nav">
    <div class="calendar-nav-previous-month"
      style="width:25px;display:flex;justify-content: center;align-items: center">
      <!-- <button class="button is-text" 
        (click) = "changeNavMonth(-1)"
        [disabled] = "!canChangeNavMonth(-1)"
        >
        <i class="fa fa-chevron-left" ></i>
      </button> -->
      <a class="_720kb-datepicker-calendar-header is-text" style="font-size: 7px;color: #fff;"
        (click)="changeNavMonth(-1)">
        <!-- <i style="font-size:4px;" class="fa fa-chevron-left"></i> -->
        <span style="font-size:12px;font-weight: bold;">(</span>
      </a>
    </div>
    <div>
      <span style="font-size: 14px;">{{navDate.format('MMMM')}}</span>
      <span class="year-dropdown" (click)="toggleYearContainer()">{{activeYear}}
        <span style="font-size:14px;color: #fff;" [innerHTML]="arrow"></span>
      </span>
    </div>
    <div class="calendar-nav-next-month" style="width:25px;display:flex;justify-content: center;align-items: center">
      <!-- <button class="button is-text" 
        (click) = "changeNavMonth(1)"
        [disabled] = "!canChangeNavMonth(1)"
        >
        <i class="fa fa-chevron-right" ></i>
      </button> -->
      <a class="_720kb-datepicker-calendar-header is-text" style="font-size: 7px;color: #fff;"
        (click)="changeNavMonth(1)">
        <!-- <i style="font-size:4px;" class="fa fa-chevron-left"></i> -->
        <span style="font-size:12px;font-weight: bold;">)</span>
      </a>
    </div>
  </div>
  <div class="_720kb-datepicker-calendar-header" *ngIf="isYear">
    <div class="year-container">
      <div class="year-data" *ngFor="let year of yearGrid">
        <div class="year-num-container" [ngStyle]="{'background-color': year==activeYear? 'rgb(179, 219, 248)':'rgb(123, 198, 252)'}">
          <a (click)="handleYearClick(year)">
            <span class="year-number">{{year}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="_720kb-datepicker-calendar-years-pagination-pages" style="display: flex;justify-content: center;">
      <div class="year-change" (click)="changePreviousYear()">
        <a href="javascript:void(0)" style="color:#fff;">
          <b>⟨</b>
        </a>
      </div>
      <div class="year-change" (click)="changeNextYear()">
        <a href="javascript:void(0)" style="color:#fff;">
          <b>⟩</b>
        </a>
      </div>
    </div>
  </div>
  <div class="calendar-container" style="background-color:#fff;">
    <div class="calendar-header">
      <div class="calendar-date" *ngFor="let day of weekDaysHeaderArr">
        {{day}}
      </div>
    </div>
    <div class="calendar-body">

      <div *ngFor="let day of gridArr" class="calendar-date" style="padding:3px;padding-left:0px;">
        <button *ngIf="day.value !== 0" class="date-item" (click)="selectDay(day)">{{day.value}}</button>
        <button *ngIf="day.value === 0" class="date-item"></button>
      </div>

    </div>
  </div>
</div>